.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 3rem auto 3rem;
}



.header {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* align-items: flex-end; */
  height: 1rem;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.footer {
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  height: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

@media screen and (max-width: 400px) {
    .header {
      padding-top: 40px;
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;

    }
}
